.blog-post-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.back-button {
  padding: 8px 16px;
  background-color: #efbf04;
  color: #1b2452;
  text-decoration: none;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.back-button:hover {
  background-color: #a38aa4;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.edit-button {
  padding: 8px 16px;
  background-color: #efbf04;
  color: #1b2452;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.delete-button {
  padding: 8px 16px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.edit-button:hover {
  background-color: #a38aa4;
}

.delete-button:hover {
  background-color: #a38aa4;
}

h1 {
  color: #efbf04;
  margin-bottom: 10px;
}

.post-date {
  color: #efbf04;
  margin-bottom: 20px;
}

.post-image {
  width: 100%;
  max-height: 400px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.post-image img {
  max-width: 600px;
  max-height: 400px;
  width: auto;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
}

.post-content p {
  color: #efbf04;;
  line-height: 1.8;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.post-description {
  font-size: 1.2rem;
  color: #efbf04;
  font-style: italic;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  line-height: 1.6;
} 
.post-body {
  color: #efbf04;
  
}

.post-category {
  background-color: #efbf04 !important;
  color: #1b2452 !important;
  border-radius: 50px;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}